.Services_section {
  padding: 120px 0px;
  background-color: var(--aliceblue-color);
}
.Services_wrapper h2 {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 30px;
}
.services_wrapper h2 {
  margin-bottom: 30px;
  text-align: center;
  color: black;
}
.Services_card {
  display: grid;
  grid-template-columns: 31.5% 31.5% 31.5%;
  gap: 30px;
}

@media screen and (max-width: 991px) {
  .Services_section {
    padding: 90px 0px;
  }
  .services_wrapper h2 {
    font-size: 24px;
  }
  .Services_card {
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(30.6%, 1fr));
    gap: 30px;
  }
}

@media screen and (max-width: 575px) {
  .Services_section {
    padding: 70px 0px;
  }
  .Services_card {
    display: grid;
    grid-template-columns: 80%; /* ek column jo 80% wide ho */
    justify-content: center; /* column ko center align kare */
  }
}
